.create-event-page{
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}
 
.create-event-container {
    width: 50%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: #e64833 2px solid;
}
 
.create-event-heading {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 20px;

}
 
.create-event-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-event-formlabel{
    font-size: 14px;
    color: #fff;
    display: block;
    margin-bottom: 5px;
}
 
.create-event-form input,textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.file-submission{
    display:flex;
    flex-direction: row;
    color: #fff;
}

.upload-button{
    background-color: #e64833;
    color: #fff;
    margin:10px;
    border:none;
    border-radius: 10px;
}

.upload-button:hover {
    background-color: #c33b2a;
}

.create-event-button {
    padding: 10px 20px;
    background-color: #e64833;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
 
.create-event-button:hover {
    background-color: #c33b2a;
}

.creation-container{
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.creation-container h3{
    text-align: center;
    color:greenyellow;
    margin-bottom:10px;
    border-bottom: #fff;
}

.creation-container div>p{
    color:#fff;
    font-size:20px;
    text-align: start;
}

@media (max-width:426px){
    .create-event-container{
        width:auto;
        margin-left:80px;
        margin-top:20px;
        margin-right:20px;
        margin-bottom:20px;
        padding: 20px;
    }

}

@media (max-width: 780px) and (min-width: 426px) {
    .create-event-container{
        width:auto;
        margin-left:80px;
        margin-top:20px;
        margin-right:20px;
        margin-bottom:20px;
        padding: 20px;
    }
}



 