.login {
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;       
    position: relative;
    overflow-x: hidden;
}

.login-maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 109px;
}

.login-formcontainer {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    border: #e64833 2px solid;
    color: #fff;
    width: 100%;
    max-width: 350px;
    height:max-content;
    margin-top: 80px;
}

.login-formcontainer h2{
    color:#fff;
    margin-bottom:20px;
}

.login-form div{
    margin-bottom:20px;
}

.login-form input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.login-form button{
    width:100%;
    padding:10px;
    background-color: #e64833;
    color:#fff;
    border:none;
    border-radius: 5px;
    transition: #e64833 0.3s ease;
    margin-bottom:10px;
}

.login-form button:hover{
    background-color: #c82614;
}

.login-form div>a{
    color:#fff;
    text-decoration: none;
}


@media (max-width:480px){
    .login-maincontainer{
        width:auto;
        margin-left:20px;
        margin-right:-40px;
    }

    .login-formcontainer{
        width:70%;
        font-size:10px;
    }
}

@media (max-width: 780px) and (min-width: 426px) {
    .login-maincontainer{
        width:auto;
        margin-left:20px;
        margin-right:-40px;
    }

    .login-formcontainer{
        width:70%;
        font-size:15px;
    }

}