.reset{
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     width:100vw ; 
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.reset-maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 109px;
}

.reset-formcontainer {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
    padding:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    border: #e64833 2px solid;
    color: #fff;
    width: 100%;
    max-width: 350px;
    height:max-content;
    margin-top: 80px;
}

.reset-formcontainer h2{
    color:#fff;
    margin-bottom:20px;
}

.message{
    color:green;
    font-size:14px;
    margin-top:10px;
}

.error{
    color:red;
    font-size:14px;
    margin-top:10px;

}

.reset-form div{
    margin-bottom:20px;
}

.reset-form input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-top:10px;
}

.reset-form button{
    width:100%;
    padding:10px;
    background-color: #e64833;
    color:#fff;
    border:none;
    border-radius: 5px;
    transition: #e64833 0.3s ease;
    margin-bottom:10px;
    margin-top:10px;
}

.reset-form button:hover{
    background-color: #c82614;
}

.loginBack-button{
    text-align: center;
    background: none;
    border: none;
    color:#fff;
}

@media (max-width:480px){
    .reset-maincontainer{
        width:auto;
    }
    .reset-formcontainer{
        width:70%;
        margin-left: 60px;
        font-size:10px;
    }
}